*{
    margin: 0;
    padding: 0;
    font-family: 'Smooch Sans', sans-serif;
    /* font-weight: bold; */
    color: aliceblue; 
}
.h1-primary{
    font-size: 5rem;
}
body{
    padding-left: 25rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 100%;
    background-color: rgb(37, 37, 37);
    z-index: 1;
}
section{
    height: 100vh;
    background-color: rgb(22, 22, 22);
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(49, 49, 49);
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 85, 85);
    /* -webkit-box-shadow: 0px 0px 2px rgb(255, 0, 0); */
}

::-webkit-scrollbar-corner {
    background: rgb(255, 0, 0);
}
.me img{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 50%;
    border: .2rem solid rgb(180, 0, 0);
}
.me h1{
    display: block;
    font-size: 3rem;
    color: aliceblue;
}
.me span{
    font-size: 1.2rem;
    color: aliceblue;
}
#navbar{
    margin-top: 1rem;
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar ul li{
    list-style: none;
    margin: 1.5rem 0;
    /* padding: .6rem 2.3rem; */
    text-align: center;
    border-radius: 10px;
}
#navbar ul li a{
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: .6rem 5.5rem; 
    border-radius: 2.6rem;
    background-color: rgb(29, 29, 29);
    font-family: 'Oswald', sans-serif;
}
#navbar ul li a:hover{
    background-color: rgb(180, 0, 0);
    transition: .3s ease-in;
}
#ham-menu{
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: none;
    cursor: pointer;
    background-color: rgb(22, 22, 22);
    border: 0px;
}
#ham-menu i{
    font-size: 2rem;
}
#home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    color: rgb(0, 13, 24);
    font-size: 30px;
    padding: 0 10rem;
}
#home span{
    font-size: 3rem;
    color: brown;
}
#home h2{
    margin-top: 2.5 rem !important;
}
#about{
    padding: 0 10rem;
}
#about h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: .2rem solid brown;
}
#about .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}
#about .contents span{
    color: rgb(214, 85, 85);
    margin-left: .4rem;
}
#about .contents h4{
    font-size: 1.9rem;
    margin-bottom: .4rem;
}
#about .button-link{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about a{
    margin: 0;
    background-color: rgb(43, 43, 43);
    text-decoration: none;
    width: 12rem;
    padding: .5rem;
    font-size: 1.5rem;
    color: brown;
}
#about a:hover{
    transition: .2s ease-in;
    background-color: brown;
    color: #fff;
}
#skills{
    padding: 0 10rem;
}
#skills h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: .2rem solid brown;
}
#skills ul{
    margin: 2rem 0;
    padding: 0;
}
#skills ul li{
    margin: 1rem 0;
    list-style: none;
    font-size: 2.5rem;
}
#portfolio{
    padding: 0 10rem;
}
#portfolio h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: .2rem solid brown;
}
#contact{
    padding: 0 10rem;
}
#contact h2{
    font-size: 3rem;
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: .2rem solid brown;
}
#contact .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact h3{
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
}
#contact h4{
    margin: .2rem 0;
    font-size: 1.5rem;
    color: brown;
}
.contact-me{
    /* padding: 1rem; */
    margin-top: 2rem;
    display: flex;
    width: 40rem;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
#text{
    width: 100%;
    height: 3rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#email{
    width: 100%;
    height: 3rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#number{
    width: 100%;
    height: 3rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#comment{
    width: 100%;
    height: 10rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}
#submit-me{
    height: 2rem;
    width: 5rem;
    margin-top: 2rem;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}



@media only screen and (max-width:820px){
    body{
        padding: 0;
    }
    header{
        display: none;
    }
    header.show{
        display: block;
        width: 100%;
    }
    .close{
        display: none;
    }
    .close.show{
        display: block;
    }
    /* .me{
        display: none;
    } */
    #ham-menu{
        display: block;
    }
    #home{
        padding: 0 4rem;
    }
    #about{
        padding: 0 4rem;
    }
    #skills{
        padding: 0 4rem;
    }
    #portfolio{
        padding: 0 4rem;
    }
    #contact{
        padding: 0 4rem;
    }
    #about .button-link{
        margin-top: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about a{
        margin: 0;
        background-color: rgb(43, 43, 43);
        text-decoration: none;
        width: 12rem;
        padding: .5rem;
        font-size: 1.5rem;
        color: brown;
    }
    .contact-me{
        width: 100%;
    }
    #text{
        height: 1.5rem;
    }
    #email{
        height: 1.5rem;
    }
    #number{
        height: 1.5rem;
    }
    #comment{
        height: 5rem;
    }
}

@media only screen and (max-width:450px){
    #home{
        padding: 0 2rem;
    }
    #about{
        padding: 0 2rem;
    }
    #skills{
        padding: 0 2rem;
    }
    #portfolio{
        padding: 0 2rem;
    }
    #contact{
        padding: 0 2rem;
    }
    .h1-primary{
        font-size: 3rem;
    }
}

@media only screen and (max-width:365px){
    #home{
        padding: 0 1rem;
    }
    #about{
        padding: 0 1rem;
    }
    #skills{
        padding: 0 1rem;
    }
    #portfolio{
        padding: 0 1rem;
    }
    #contact{
        padding: 0 1rem;
    }
    .contents h4{
        font-size: 1.8rem !important;
    }
    .contents span{
        font-size: 1.7rem;
    }
    /* .contents h4{
        font-size: 10rem;
    } */
}
@media only screen and (max-width:301px){
    #home{
        padding: 0 .3rem;
    }
    #about{
        padding: 0 .3rem;
    }
    #skills{
        padding: 0 .3rem;
    }
    #portfolio{
        padding: 0 .3rem;
    }
    #contact{
        padding: 0 .3rem;
    }
    .contents h4{
        font-size: 1rem !important;
    }
    .contents span{
        font-size: 1rem;
    }
}
/* @media only screen and (max-width:) */







