body {
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #58585846;
  border: none;
  outline: none;
}
::-webkit-scrollbar-thumb {
  background: #79ffff;
  /* -webkit-box-shadow: 0px 0px 2px rgb(255, 0, 0); */
}
::-webkit-scrollbar-corner {
  background: #79ffff;
}